*{
    padding: 0;
    margin: 0;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
  background: url("https://images.unsplash.com/vector-1760444679292-2b88341edbf5?q=80&w=709&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 2px solid black;
    


}

.navigation-bar img{
    height: 60px;
    margin: 10px 20px;
    border-radius: 80px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.129);
    backdrop-filter: blur(20px);
}

.navigation-bar h1{
    margin: 50px auto;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border: 2px rgba(0, 0, 0, 0.149) solid;
    border-radius: 20px;
}



.navigation-bar button{
    position: absolute;
    right: 2rem;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border: 2px rgba(0, 0, 0, 0.149) solid;
    cursor: pointer;
    border-radius: 20px;
}

.navigation-bar button:hover{
    background-color: rgba(0, 0, 0, 0.162);
    backdrop-filter: blur(10px);
}


h1{
    text-align: center;
    margin: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.card-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    min-height: 500px;
    border: 2px solid rgba(0, 0, 0, 0.293);
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.049);
    backdrop-filter: blur(10px);
    padding-top: 30px ;
    padding-bottom: 100px ;
}



.card{
    background-color: rgba(0, 0, 0, 0.322);
    width: 300px;
    height: 300px;
    border: 2px solid rgba(255, 255, 255, 0.173);
    padding: 20px;
    
    

}

.card h2{
    text-align: center;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

.card p{
    text-align: center;
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    text-align: justify;
}

.card img{
    height: 120px;
    display: block;
    margin: 10px auto;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.221);
}

footer{
    text-align: center;
    background-color: black;
    color: aliceblue ;
    padding-top: 50px;

}

