h1,h2{
    font-size: clamp(1.5rem,4vw + 1rem,4rem);
}

/* h1{
    color:black;
    margin: 3rem;
    text-align: center;

} */

h2{
    color:aliceblue;
    margin-bottom: 2rem;
}

label{
    text-align: left;
    color: aliceblue;
    font-size: 1.2rem;

}

input{
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem auto;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    backdrop-filter: blur(10px);
    background-color: rgba(240, 248, 255, 0.67);
    
}

input::placeholder{
    color: black;
    font-weight: bold;
    opacity: 1;
    
}





.form{
    border: 2px solid rgba(0, 0, 0, 0.162);
    padding: 5.5rem;
    margin: 2rem auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.181);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    text-align: center;
}

body {
    min-height: 100vh;
    background: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee") no-repeat center center / cover;
    font-family: sans-serif;
}

.heading{
    font-size: 50px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(18) infinite,
    blink 0.6s infinite;
}

.heading-box{
    width: 400px;
    margin: 0 auto 40px;
}

@keyframes typing{
    0%{
        width: 0;
    }
    50%{
        width: 430px;
    }
    100%{
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

button{
    padding: 0.8rem 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
}


