*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    width: 50%;
    height: 20px;
    align-content: center;
    justify-content: center;
    margin: 40% auto;
    padding: 10px;
}

#parent{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

#child1{

    background-color: rgb(43, 72, 204);
    border: 2px solid white;
    border-radius: 20px;
}
#child2{

    background-color: crimson;
    border: 2px solid white;
    border-radius: 20px;
}
#child3{

    background-color: lightgreen;
    border: 2px solid white;
    border-radius: 20px;
}
#child4{
    background-color: yellow;
    border: 2px solid white;
    border-radius: 20px;
}