*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 15px 25px;
    font-family: monospace;
    background-color: black;
    color: aliceblue;
    position: relative;
    
}

.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    backdrop-filter: blur(20px);

}

.nav2 h4{
    font-size: 16px;
    backdrop-filter: blur(20px);
    font-weight: 100; 
}



.nav1 h6{
    font-size: 17px;
    width: 90px;
    font-weight: 100;
}

.nav1 img{
    width:70px;
    height: 70px;
    border-radius: 50%;
}

.nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.nav2 img{
    width:40px;
    border-radius: 50%;
}



#menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    cursor: pointer;
    font-size: 25px;
}

.sections{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 2px solid black;
}

.section1{
    height: inherit;
    background-color: wheat;
}
.section2{
    height: inherit;
    background-color: rgba(245, 222, 179, 0.796);
}
.section3{
    height: inherit;
    background-color: rgba(245, 222, 179, 0.593);
}
.section4{
    height: inherit;
    background-color: rgba(245, 222, 179, 0.352);
}


@media (max-width:690px) {
    .nav2 h4{
        display: none;
    }

    .profile-picture{
        display: none;
    }

    .menu-icon{
        display: block;
    }

    .nav1 {
        justify-content: center;
    }

    #menu-toggle:checked ~ .nav2{
        position: absolute;
        top: 50px;
        right:0;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
        background: black;

        
    }


    #menu-toggle:checked ~ .nav2 h4{
        display: block;
        text-align: center;
        padding: 10px 0;
        
    }

    
    
}



