h1{
    color:red;
    font-size: 2.5 em;
}
h2{
    color: purple;
    font-size: 2.5em;
}
p{
    color: aqua;
    padding: 5px;
    background-color: midnightblue;
}
body {
  background-color: pink;
}

@media (width >= 70em) {
  body {
    background-color: blue;
  }
  h1{
    color: black;
  }
}